<h2> All Categories </h2>
<table class="table table-inverse">
  <thead>
    <tr>
      <th>S.no</th>
      <th>Name</th>
      <th>Created_by</th>
      <th>Created_at</th>
      <th>Updated_at</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td> </td>
      <td> </td>
      <td> </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td> </td>
      <td> </td>
      <td> </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td> </td>
      <td> </td>
      <td> </td>
    </tr>
      <tr>
      <th scope="row">4</th>
      <td> </td>
      <td> </td>
      <td> </td>
    </tr>   
        
  </tbody>
</table>