<h2> Expenditures </h2>

<%= link_to "New", new_expenditure_path, class: 'btn btn-primary align-right' %>

<table class="table table-inverse">
  <thead>
    <tr>
      <th>S.no</th>
      <th>Spent_on</th>
      <th>Description</th>
      <th>Amount</th>
      <th>Paid_to</th>
      <th>Category_id</th>
      <th>Created_by</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td> </td>
      <td> </td>
      <td> </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td> </td>
      <td> </td>
      <td> </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td> </td>
      <td> </td>
      <td> </td>
    </tr>
      <tr>
      <th scope="row">4</th>
      <td> </td>
      <td> </td>
      <td> </td>
    </tr>   
        
  </tbody>
</table>